
#container{
    height: 400px; 
    margin-top:20px; 
    background: linear-gradient( grey, white);
    border-radius: 10px;
   
}
.box-btn{
    height: 60px; 
    margin-top:200px;
     display: flex;
     justify-content: space-evenly;


}
h3{
    background: linear-gradient( grey, white);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}